<p id="notice"><%= notice %></p>

<h1>Web Users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th>User type</th>
      <th>Is regestered</th>
      <th>Is admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_users.each do |web_user| %>
      <tr>
        <td><%= web_user.user_name %></td>
        <td><%= web_user.email %></td>
        <td><%= web_user.date_of_birth %></td>
        <td><%= web_user.user_type %></td>
        <td><%= web_user.is_regestered %></td>
        <td><%= web_user.is_admin %></td>
        <td><%= link_to 'Show', web_user %></td>
        <td><%= link_to 'Edit', edit_web_user_path(web_user) %></td>
        <td><%= link_to 'Destroy', web_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web User', new_web_user_path %>
