<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @web_user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @web_user.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @web_user.date_of_birth %>
</p>

<p>
  <strong>User type:</strong>
  <%= @web_user.user_type %>
</p>

<p>
  <strong>Is regestered:</strong>
  <%= @web_user.is_regestered %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @web_user.is_admin %>
</p>

<%= link_to 'Edit', edit_web_user_path(@web_user) %> |
<%= link_to 'Back', web_users_path %>
