<!DOCTYPE html><html class=''>
<head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/AyhanALTINOK/pen/Atlva" />

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>

</head>

<body>
    <div class="window" style="position: static;">

      <aside class="sidebar">
        <div class="top-bar">
          <p class="logo"><a href="/">UFMDb</a></p>
        </div>


        <menu class="menu">
          <p class="menu-name">Movie & Celebs</p>

          <div class="separator"></div>

          <ul class="no-bullets">
            <li><a href="/sidebar_list/table_count">Schema Stats</a></li>
            <li><a href="/sidebar_list/top_movies?year=2018&rating=1&sort_by=DESC">Top Movies</a></li>
            <li><a href="/sidebar_list/boxoffice_hits?sort_by=DESC">Box Office hits</a></li>
            <li><a href="/sidebar_list/celeb_hits?nom=20&ave=7&sort_by=DESC">Celebrity hits</a></li>
            <li><a href="/sidebar_list/actor_age_hits?rating=6&sort_by=DESC">Top Celebrity movies</a></li>
            <li><a href="/sidebar_list/celeb_rating?rating=6&sort_by=DESC">Celebrity Ratings</a></li>
            <li><a href="/sidebar_list/celeb_rating_genre?rating=6&sort_by=DESC">Celebrity Genre Ratings</a></li>
            <li>
              <a href="/sidebar_list/celebrity_prime_comp?nom=Richard+Attenborough">Prime comparison for Celebrity</a>
            </li>
            <li><a href="/sidebar_list/pop_production_critic?rating=6&sort_by=DESC">Popular Production Houses </a></li>
            <li><a href="/sidebar_list/pop_production_votes?rating=8&votes=10000&sort_by=DESC">Top Production Houses</a></li>
            <li><a href="#">Movie Queries</a></li>
            <li><a href="/sidebar_list/movie_table">MPAA Ratings</a></li>
            <li><a href="/sidebar_list/runtime">Runtime</a></li>
            <li><a href="/sidebar_list/language">Language</a></li>
          </ul>

          <div class="separator"></div>
        </menu>
      </aside>


      <div class="main" role="main">

        <div class="top-bar">

          <ul class="top-menu">
            <li class="menu-icon trigger-sidebar-toggle">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </li>
            <li>
              <div class="search-box">
                <input type="text" placeholder="Search..."/>
                <p class="fa fa-search"></p>
              </div>
            </li>
            <li>
              <div class="dropdown" style="padding: 13px 0px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login/Register
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" style="color:black;">Login</a>
                  <a class="dropdown-item" href="#" style="color:black;">Register</a>
                </div>
              </div>
            </li>
          </ul>
        </div> <!-- top bar -->
        <div class="container">
        <div class="title-bar centre-text">
          <div class="left">
            <h2>Top Movies</h2>
          </div>
        </div>

          <%= form_tag({controller: "sidebar_list", action: "top_movies"}, id:'sform', class:'centre-text', method: "get") do %>
            <p>Year :<%= text_field_tag(:year) %></p>
            <p>Rating : <%= text_field_tag(:rating) %></p>
            <p> Sort By : <%= select_tag :sort_by, options_for_select([ "ASC", "DESC" ], "DESC") %> </p>
            <%= submit_tag("Execute") %>
          <% end %>
        <br>
        <div id="chart-container" class="centre-text"> <% if !@piechart.nil? %><%= @piechart.render() %><% end %></div>

        <table class="table table-bordered" >
            <thead>
              <tr>
                <th class="font-weight-bold">Poster</th>
                <th class="font-weight-bold">Title</th>
                <th class="font-weight-bold">Release Date</th>
                <th class="font-weight-bold">Rating</th>
              </tr>
            </thead>
          <% if !@movie.nil? %>
          <tbody>
              <% @movie.each do |movies1| %>
              	<tr>
                  <td>
                    <img src=<%= movies1['poster'] %> alt="" style="width:100px;">
                  </td>
                  <td> <a href="/movies/<%= movies1['movie_id'] %>"><p class="title"><%= movies1['primary_title'] %></p></a> </td>
              		<td> <%= movies1['start_year'] %> </td>
              		<td> <%= movies1['rating'] %> </td>
                </tr>
              <%end %>

            </tbody>
          <% end %>
          </table>
        <%= will_paginate @movie %>
      </div>

        </div> <!-- main -->

      </div> <!-- window -->
    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script >jQuery(document).ready(function($) {

      $('.trigger-sidebar-toggle').on('click', function() {
        $('body').toggleClass('sidebar-is-open');
      });

      $('#sform').on('submit', function () {
          $(".table").show();
      });

    });
//# sourceURL=pen.js
</script>
</body></html>