<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :primary_title %>
    <%= f.text_field :primary_title %>
  </div>

  <div class="field">
    <%= f.label :original_title %>
    <%= f.text_field :original_title %>
  </div>

  <div class="field">
    <%= f.label :start_year %>
    <%= f.number_field :start_year %>
  </div>

  <div class="field">
    <%= f.label :run_time_minutes %>
    <%= f.number_field :run_time_minutes %>
  </div>

  <div class="field">
    <%= f.label :genres %>
    <%= f.text_field :genres %>
  </div>

  <div class="field">
    <%= f.label :mpaa_rating %>
    <%= f.text_field :mpaa_rating %>
  </div>

  <div class="field">
    <%= f.label :plot %>
    <%= f.text_field :plot %>
  </div>

  <div class="field">
    <%= f.label :movie_language %>
    <%= f.text_field :movie_language %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :awards %>
    <%= f.text_field :awards %>
  </div>

  <div class="field">
    <%= f.label :poster %>
    <%= f.text_field :poster %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
