<html lang="en">
<head>
  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">

  <title><%= @movie.primary_title %> UFMDb </title>

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
</head>

<body>
  <div class="window">

    <aside class="sidebar">
      <div class="top-bar">
        <p class="logo"><a href="/">UFMDb</a></p>
      </div>



      <menu class="menu">
        <p class="menu-name">Movie & Celebs</p>

        <div class="separator"></div>

        <ul class="no-bullets">
            <li><a href="/sidebar_list/top_movies?year=2018&rating=1&sort_by=DESC">Top Movies</a></li>
            <li><a href="/sidebar_list/boxoffice_hits?sort_by=DESC">Box Office hits</a></li>
            <li><a href="/sidebar_list/celeb_hits?nom=20&ave=7&sort_by=DESC">Celebrity hits</a></li>
            <li><a href="/sidebar_list/actor_age_hits?rating=6&sort_by=DESC">Top Celebrity movies</a></li>
            <li><a href="/sidebar_list/celeb_rating?rating=6&sort_by=DESC">Celebrity Ratings</a></li>
            <li><a href="/sidebar_list/celeb_rating_genre?rating=6&sort_by=DESC">Celebrity Genre Ratings</a></li>
            <li>
              <a href="/sidebar_list/celebrity_prime_comp?nom=20&ave=7&sort_by=DESC">Prime comparison for Celebrity</a>
            </li>
            <li><a href="/sidebar_list/pop_production_critic?rating=6&sort_by=DESC">Popular Production Houses </a></li>
            <li><a href="/sidebar_list/pop_production_votes?rating=8&votes=10000&sort_by=DESC">Top Production Houses</a></li>
            <li><a href="#">Movie Queries</a></li>
          </ul>

        <div class="separator"></div>
      </menu>
    </aside>


    <div class="main" role="main">

      <div class="top-bar">

        <ul class="top-menu">
          <li class="menu-icon trigger-sidebar-toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </li>
          <li >
            <div class="search-box">
              <input type="text" placeholder="Search..."/>
              <p class="fa fa-search"></p>
            </div>
          </li>
          <li>
            <div class="dropdown" style="padding: 13px 0px;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login/Register
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" style="color:black;">Login</a>
                <a class="dropdown-item" href="#" style="color:black;">Register</a>
              </div>
            </div>
          </li>
        </ul>
      </div> <!-- top bar -->

      <!-- Page Content -->
      <div class="movie">
      <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
          <div class="col-md-6">
            <h1 class="bold"> <%= @movie.primary_title %>
              <small></small>
            </h1>
          </div>

          <div class="col-md-4">
            <div class="my-4">
              <div class="ratingValue">
                <h4>
                <strong title="<%= @rating.rating %> based on <%= number_with_delimiter(@rating.votes, :delimiter => ',') %> user ratings"><span>Rating: </span><span itemprop="ratingValue"><%= @rating.rating %></span></strong><span class="grey"> / </span><span class="grey" itemprop="bestRating">10</span>
              </h4>
              </div>
              <h5><span>by </span><span class="" itemprop="ratingCount"><%= number_with_delimiter(@rating.votes, :delimiter => ',') %></span><span> Users</span></h5>
            </div>
          </div>
        </div>

        <!-- Portfolio Item Row -->
        <div class="row">

          <div class="col-md-6">
            <%= image_tag(@movie.poster, :class => "img-fluid", :alt => "") %>
          </div>

          <div class="col-md-4">
            <div class="rated">
              <h4 class="inline">Rated:</h4>
              <span>
                      <a><span><%= @movie.mpaa_rating %></span></a>
              </span>
            </div>



            <div class="runtime">
              <h4 class="inline">Runtime:</h4>
              <span>
                      <a><span><%= @movie.run_time_minutes %> mins</span></a>
                  </span>
            </div>

            <div class="genres">
              <h4 class="inline">Genres:</h4>
              <span>
                      <a><span><%= @movie.genres %></span></a>
                  </span>
            </div>

            <div class="releasedate">
              <h4 class="inline">Release Date:</h4>
              <span>
                      <a><span> <%= @movie.start_year %> </span></a>
                  </span>
            </div>

            <div class="language">
              <h4 class="inline">Language:</h4>
              <span>
                <% @movie.movie_language.split(%r{,\s*}).each do |lang| %>
                    <a><%= lang %></a>
                  <% if lang != @movie.movie_language.split(%r{,\s*}).last %>
                        <span>|</span>
                    <% end %>
                <% end %>
              </span>
            </div>

            <div class="country">
              <h4 class="inline">Country:</h4>
              <span>
                <% @movie.country.split(%r{,\s*}).each do |country| %>
                    <a><%= country %></a>
                  <% if country != @movie.country.split(%r{,\s*}).last %>
                        <span>|</span>
                    <% end %>
                <% end %>
              </span>
            </div>

          </div>

        </div>
        <!-- /.row -->

        <div class="article" id="titleCast">
          <h2>Cast</h2>
            <div class="row">
              <div class="col-md-6 ">
              <table class="table table-bordered cast_list">
                <thead>
                  <tr>
                    <th class="font-weight-bold" scope="col">Name</th>
                    <th class="font-weight-bold" scope="col">Role</th>
                  </tr>
                </thead>
                <tbody>
                <% @pc.each do |cast| %>
                  <tr>
                    <td>
                      <span><%= cast['celebrity_name'] %></span>
                    </td>
                    <td>
                      <div>
                        <%= cast['movie_role'].capitalize %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Related Movies Row -->
        <h3 class="my-4">Suggestions</h3>

        <div class="row">
          <% @related.each do |pos| %>
            <div class="col-md-3 col-sm-6 mb-4">
              <a href="/movies/<%= pos['movie_id'] %>">
                <img class="img-fluid" src=<%= pos['poster'] %> alt="">
              </a>
            </div>
          <% end %>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->
      </div>
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; UFMDb 2018</p>
        </div>
        <!-- /.container -->
      </footer>

    </div> <!-- main -->

  </div> <!-- window -->

<script src='https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script >jQuery(document).ready(function($) {

    $(this).scrollTop(0);
    $('.trigger-sidebar-toggle').on('click', function() {
        $('body').toggleClass('sidebar-is-open');
    });

    $('.subcategory').click(function() {
        console.log( "user clicked on" );
        subcategory = $(this).attr('value');
        console.log(subcategory);
        category = $(this).closest(".panel-collapse").siblings().children().children().attr("value");
        console.log(category);
    });


});

</script>
</body>

</html>